/*.form .icon-edit::before {
    content: "\f044";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 22px;
}*/



.form button.round {
    border: 1px solid #878787;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    outline: none;
    box-sizing: border-box;
    height: 35px;
    font-size: 1em;
    text-align: center;
    background-color: #FFF;
    color: #000;
}

.form button.round.small {
    font-size: 0.7em;
    margin: 0px 3px;
    padding-left: 12px;
    padding-right: 12px;
}

.form button.round.red:hover {
    background-color: #FC4D11;
    color: #FFF;
    border-color: #EEE;
}

.form button.round:hover {
    background-color: #31BAEC;
    color: #FFF;
    border-color: #EEE;
}
.form button.round:active {
    filter: brightness(0.9);
}

.form .fa {
    font-size: 22px;
    color: #878787;
}

.form .fa:hover {
    color: rgba(0, 0, 0, 0.7);
}

.form .fa:active,
.form .fa.active {
    color: #376AFC;
}

.form .fa.fa-trash-o:active {
    color: #FC4D11;
}

.form .title-name {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    white-space: nowrap;
}

.form .to-right {
    float: right;
}

.form .FormChoice.circle div.CustomRadio input[type="radio"] ~ label:before {
    border-radius: 50%;
}

.form .FormChoice > * {
    display: block !important;
    margin: 5px 0px;
}

.form div.CustomRadio {
    color: #888888 !important;
    border-color: #888888 !important;
}
.form div.CustomRadio:hover {
    color: #5080FC !important;
    border-color: #5080FC !important;
}
.form div.CustomRadio:active {
    color: #376AFC !important;
    border-color: #376AFC !important;
}
.form div.CustomRadio input[type="radio"].state-circle ~ label:before {
  content: "\2022";
  font-size: 1.5em;
  text-align: center;
  box-sizing: border-box;
  line-height: calc(0.7em);
  font-family: sans-serif;
  border-radius: 50%;
}
.form div.CustomRadio input[type="radio"].state-square ~ label:before {
  background-color: #888888;
}

.form div.CustomRadio:hover input[type="radio"].state-square ~ label:before {
  background-color: #5080FC;
}
.form div.CustomRadio:active input[type="radio"].state-square ~ label:before {
  background-color: #376AFC;
}

.form {
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif !important;
    margin: 20px auto;
    min-width: 400px;
    border-radius: 5px;
    /*margin-top: 20px;*/
}

@media all and (max-width: 480px) {
    .form {
        margin: 20px 0px;
    }
}

.form span.tab {
    margin-left: 30px;
}

/*.form .bin {
    position: absolute;
    top: 0px;
    right: 10px;
}*/

.form section.question {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form input.title-name {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    white-space: nowrap;
    outline: none;
    border: none;
    width: 100%;
}

.form section.question span,
.form section.question input {
    flex: 1;
    font-size: 1.1em;
    outline: none;
    border: none;
    font-family: sans-serif !important;
}

.form section.question textarea {
    flex: 1;
    font-size: 1.1em;
    outline: none;
    border: none;
    font-family: sans-serif !important;
    max-width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    resize: none;
    background-color: #FAFAFA;
    /*width: 70% !important;*/
}

.form .edit-choices {
    display: flex;
    flex-wrap: wrap;
}
.form .edit-choices > *{
    flex: 1 1 100%;
    display: flex;
    align-items: center;
}
.form .edit-choices input {
    display: inline-block;
    /*width: 100%;*/
    font-size: 1em;
    outline: none;
    border: none;
    font-family: sans-serif !important;
    order: 2;
    flex: 1;
}
.form .edit-choices input ~ button {
    order: 3;
    height: 1em;
    width: 1em;
}
.form .edit-choices input ~ button:hover {
    filter: brightness(1.2);
}
.form .edit-choices input ~ button:active {
    filter: brightness(0.8);
}

.form .edit-choices input ~ button > img {
    height: 1em;
    width: 1em;
}

.form .edit-choices input.bullet + span.icon:before {
    order: 1;
    display: inline-block;
    content: "\25CF";
    margin-right: 10px;
}
.form .edit-choices input.check.box + span.icon:before {
    order: 1;
    display: inline-block;
    content: "\25A0";
    margin-right: 10px;
}
.form .edit-choices input.spinner + span.icon:before {
    order: 1;
    display: inline-block;
    content: "\25B6";
    margin-right: 10px;
}

.form .add {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.form .add input {
    display: inline-block;
    flex: 1;
    font-size: 1em;
    outline: none;
    font-family: sans-serif !important;
}

.form .list-choices > span {
    display: block;
    margin: 5px 0px;
}

.form .top-color {
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    top: -20px;
    height: 250px;
}

.form textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.form span.icon-plus::before {
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #353535;
    content: "+";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    margin-left: 10px;
    box-sizing: border-box;
    /*padding-right: 1px;*/
    font-family: sans-serif;
}

.form span.icon-plus.big::before {
    height: 30px;
    width: 30px;
    background-color: #289CF9;
    font-size: 22px;
    line-height: 27px;
    margin-right: 10px;
    margin-left: 0px;
}

.form span.icon-plus:hover::before {
    filter: brightness(2);
}
.form span.icon-plus:active::before {
    filter: brightness(1.2);
}
.form span.icon-plus.big:hover::before {
    filter: brightness(1.1);
}
.form span.icon-plus.big:active::before {
    filter: brightness(0.9);
}

.question-type {
    display: inline-flex;
    flex-wrap: nowrap;
}

.form .added-zone {
    height: 50px;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.form .fullwidth {
    width: calc(100% + 40px) !important;
    position: relative;
    left: -20px;
}

.form .top-bar {
    display: flex;
    align-items: center;
}

.form .top-bar .event-container {
    flex: 1 1 50%;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.form .top-bar .event-container::after {
    content: " ";
    height: 2rem;
    width: 1px;
    margin-left: 5px;
    background-color: #878787;
    display: inline-block;
}

.form .top-bar .channel-container {
    font-size: 1rem;
    font-weight: 200;
    display: flex;
    align-items: center;
}

.form .top-bar .thumbnail {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.form .question-item {
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(128,128,128,0.7);
    /*transition: background 0.2s ease-in;
    background-color: #FFF;
    color: #000;*/
}

.form .question-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: calc(100% - 10px);
    top: 5px;
    left: 0px;
    background-color: #FC4D11;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s linear;
}

.form .question-item.onError::before {
    opacity: 1;
    visibility: visible;
    transition: 0.05s ease-in;
}
