.modal-container2 {
  position: fixed;
  overflow: scroll;
  top: 65px;
  width: 100vw;
  height: calc(100vh - 65px);
}

article.edit-event input.chan-name {
  border: 1.8px solid #ccc;
  border-radius: 5px;
  height: auto;
  width: auto;
  font-family: inherit;
  word-wrap: break-word;
  display: inline;
  position: absolute;
  margin-top: 9%;
  margin-left: 30px;
  font-size: 30px;
  background-color: #EBEBEB;
  text-transform: uppercase;
  font-weight: bold;
}

.chan-img {
  height: 135px;
  width: 135px;
  margin: 15px 0px 15px 15px;
  border-radius: 100%;
  background-color: pink;
  border: 1px solid pink;
  display: inline;
} 

article.edit-event button.fill {
  border: 1.8px solid;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: normal;
  margin-right: 50px;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  border-color: #CCCCCC;
  color: #999999;
  background-color: #FFFFFF;
  display: inline;
  margin-right: 15px;
}

article.edit-event div.photo-upload {
  position: relative;
  border: 1.8px solid #CCCCCC;
  border-radius: 20px;
  font-size: 0.7em;
  color: #999999;
  background-color: #FFFFFF;
  padding: 3px 18px 3px 10px;
  display: inline;
  margin-right: 5px;
  margin-bottom: 5px; 
}

article.edit-event div.photo-upload button img {
  display: inline;
  height: 6px;
  padding-left: 2px;
  margin: 0px;
  float: right;
  position: absolute;
  top: -2px;
  right: -12px;
}

div.chan-tag button.tag {
  border: 1.8px solid;
  border-radius: 5px;
  font-size: 0.95em;
  font-weight: normal;
  margin-right: 16px;
  margin-bottom: 10px;
  width: 118px;
  height: 40px;
  border-color: #CCCCCC;
  color: #999999;
  background-color: #FFFFFF;
  padding: 0px;

}

article.edit-event div.full-input input[type="text"] {
  display: block;
  border: 1.8px solid #ccc;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  margin-bottom: 5px;
  word-wrap: break-word;
}

article.edit-event div.full-input textarea[type="text"] {
  height: 60px;
  width: 100%;
  text-align: left;
}