div.edit-profile {
  font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
  background-color: $profile-menu-color;
  color: #555555;
  position: relative;
  z-index: 555;
  padding: 10px 10px 30px 10px;
  max-width: 680px;
  width: calc(100% - 20px);
}

div.edit-profile section.edit-pro-head {
  height: 115px;
}

div.edit-profile section.edit-pro-head div.profile-head {
  margin-left: 160px;
}

div.edit-profile section.edit-pro-head div.profile-head h1[alt="profile-name"] {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 1.6em;
}

div.edit-profile section.edit-pro-head div.profile-head div[alt="faculty-icon"] {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /*background: #B22222;*/
  margin-top:4px;
  margin-right: 5px;
  position: absolute;
}

div.edit-profile section.edit-pro-head div.profile-head p {
  margin-left: 25px;
  margin-top: 5px;
}

div.edit-profile section.edit-pro-head img[alt="profile-pic"] {
  height: 95px;
  margin-left: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
  position: absolute;
}

div.edit-profile section.edit-pro-head button[role="exit"] {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: inherit;
  border: 0px;
}

div.edit-profile section.edit-pro-head button[role="exit"] img {
  width: 25px;
  height: 25px;
}

div.edit-profile section.edit-pro-left {
  flex: 1 1 50%;
  padding: 10px 35px;
}

div.edit-profile section.edit-pro-left img {
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

div.edit-profile section.edit-pro-left input {
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  margin-left: 45px;
  width: calc(100% - 60px);
  z-index: 560;
  font-family:inherit;
  font-size: 1em;
  margin-bottom: 5px;
}

div.edit-profile section.edit-pro-left input.w110 {
  /*width: 110px;*/
  flex: 1 1 40%;
}

div.edit-profile section.edit-pro-left input.w45 {
  /*width: 45px;*/
  flex: 1 1 25%;
}

div.edit-profile section.edit-pro-left input.m15 {
  margin-left: 10px;
}

div.edit-profile section.edit-pro-left div {
  display: flex;
}

div.edit-profile section.edit-pro-left p {
  padding:8px;
  display:block;
  border:none;
  width: 200px;
  z-index: 560;
  margin: 0px 0px 5px 45px;
}

div.edit-profile section.edit-pro-right {
  flex: 1 1 50%;
  padding: 0px 30px;
}

div.edit-profile section.edit-pro-right p {
  margin-left: 40px;
  margin-bottom: 5px;
}

div.edit-profile section.edit-pro-right img {
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: -6px;
}

div.edit-profile section.edit-pro-right button.unlink {
  border: 1.5px solid;
  border-radius: 20px;
  width: 120px;
  height: 25px;
  font-size: 0.7em;
  border-color: #00BFF0;
  color: #00BFF0;
  background-color: #FFFFFF;
  margin: 5px 0 0 35px;
}

div.edit-profile section.edit-pro-right button.unlink:hover {
  border-color: #00BFF0;
  color: #FFFFFF;
  background-color: #00BFF0;
}

div.edit-profile section.edit-pro-right div.my-tag {
  height: 190px;
  border: 1.8px solid;
  border-radius: 5px;
  border-color: #CCCCCC;
  color: #555555;
  background-color: #FAFAFA;
  padding: 0px 5px;
  margin: 25px 0px;
}

div.edit-profile section.edit-pro-right div.my-tag p {
  margin: 10px 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: #888888;
}

div.edit-profile section.edit-pro-right div.my-tag article.tag-item {
  width: 40px;
  height: 40px;
  margin: 5px;
}

div.edit-profile section.edit-pro-right div.my-tag div {
  text-align: center;
}

div.edit-profile section.edit-pro-right div.my-tag button {
  border: 1.8px solid;
  border-radius: 20px;
  width: 75px;
  height: 25px;
  font-size: 0.9em;
  border-color: #BBBBBB;
  color: #888888;
  background-color: #FFFFFF;
}

div.edit-profile section.edit-pro-right div.my-tag button:hover {
  border-color: #CCCCCC;
  color: #AAAAAA;
}

div.edit-profile section.edit-pro-right div.btn-plane {
  text-align: center;
  padding-top: 10px;
}

div.edit-profile section.edit-pro-right div.btn-plane button {
  border: 1.8px solid;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  font-size: 1em;
}

div.edit-profile section.edit-pro-right div.btn-plane button.cancel {
  border-color: #AAAAAA;
  color: #888888;
  background-color: #FFFFFF;
  margin-right: 20px;
}

div.edit-profile section.edit-pro-right div.btn-plane button.cancel:hover {
  border-color: #CCCCCC;
  color: #AAAAAA;
}

div.edit-profile section.edit-pro-right div.btn-plane button.save {
  border-color: #9ACD32;
  color: #FFFFFF;
  background-color: #9ACD32;
}

div.edit-profile section.edit-pro-right div.btn-plane button.save:hover {
  border-color: #9ADD42;
  background-color: #9ADD42;
}

div.edit-profile p.sec-line {
  width: 1px;
  height: 390px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  left: 360px;
}

@media all and (max-width: 768px) {
    div.edit-profile {
        margin-top: 1px !important;
        margin-bottom: 1px !important;
    }

    div.edit-profile .flex-sp {
        flex-wrap: wrap;
    }

    div.edit-profile p.sec-line {
        display: none;
    }

    div.edit-profile .edit-pro-left,
    div.edit-profile .edit-pro-right {
        flex-basis: 100% !important;
    }
}

div.regCU input {
    margin: 3px 0 5px 40px;
}

div.regCU p {
    font-size: 0.8em;
    color: #FF0000;
    margin-top: 5px;
}
