.event-edit {
  padding-right: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
  font-size: 1rem;
}

.event-edit b {
  font-size: 1.25rem;
  font-weight: 700;
}

.event-edit h2.NoBottom {
  margin-bottom: 0px;
}

.event-edit .moveUp-50 {
  position: relative;
  top: -50px;
}

.event-edit .moveUp-20 {
  position: relative;
  top: -20px;
}

.event-edit .fullwidth {
  position: relative;
  left: -30px;
  width: calc(100% + 80px);
  padding: 10px 50px 10px 30px;
  box-sizing: border-box;
}

.event-edit nav h1 {
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  top: -10px;
}

.event-edit footer {
  display: flex;
  justify-content: flex-end;
}

.event-edit .Card-Demo {
  background-color: #EEE;
}

.event-edit hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: rgba(128, 128, 128, 0.35);
  /* old IE */
  background-color: rgba(128, 128, 128, 0.35);
  /* Modern Browsers */
  margin: 20px 0px;
  padding: 0px;
  clear: both;
  display: block;
}

.event-edit hr.fullwidth {
  width: calc(100% + 80px);
  padding: 0px;
}

.event-edit div[data-role="recruitment"] .firstmeet {
  margin-left: 10px;
}

.event-edit div[data-role="recruitment"] .firstmeet button.Btn {
  width: 200px;
  height: 2.7rem;
}

.event-edit .content div.fields {
  flex: 1;
  box-sizing: border-box;
}

.event-edit .content div.fields input[type="text"],
.event-edit .content div.fields input[type="number"],
.event-edit .content div.fields input[type="tel"],
.event-edit .content div.fields textarea {
  font-size: 1.2em;
  width: calc(100%);
  box-sizing: border-box;
  margin-top: 5px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.event-edit .content div.fields textarea {
  margin-top: 5px;
  border: 1.8px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  resize: none;
}

.event-edit .content div.fields input[type="text"]:focus,
.event-edit .content div.fields input[type="number"]:focus,
.event-edit .content div.fields input[type="tel"]:focus,
.event-edit .content div.fields textarea:focus {
  box-shadow: none;
}

.event-edit .content div.fields input[type="text"]:focus + label,
.event-edit .content div.fields input[type="number"]:focus + label,
.event-edit .content div.fields input[type="tel"]:focus + label,
.event-edit .content div.fields textarea:focus + label,
.event-edit .content div.fields input[type="text"]:focus ~ .note,
.event-edit .content div.fields input[type="number"]:focus ~ .note,
.event-edit .content div.fields input[type="tel"]:focus ~ .note,
.event-edit .content div.fields textarea:focus ~ .note {
  opacity: 1;
  transition: 0.1s;
}

.event-edit .content div.fields .flex-half {
  flex: 1 1 50%;
  padding-left: 10px;
}

.event-edit .content div.fields .flex {
  display: flex;
  flex-direction: column;
}

.event-edit .content div.fields .flex > * {
  flex: 1;
}

.event-edit .content div.fields .flex-order-1 {
  order: 1;
}

.event-edit .content div.fields .flex-order-2 {
  order: 2;
}

.event-edit .content div.fields .flex-order-3 {
  order: 3;
}

.event-edit .content div.fields input[type="text"] + label,
.event-edit .content div.fields input[type="number"] + label,
.event-edit .content div.fields input[type="tel"] + label,
.event-edit .content div.fields textarea + label,
.event-edit .content div.fields .note {
  opacity: 0;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #008bdb;
}

.event-edit .content div.fields .note {
  color: #fe2000;
}

.event-edit .CustomRadio {
  color: #888888 !important;
  border-color: #888888 !important;
}

.event-edit .CustomRadio:hover {
  color: #5080FC !important;
  border-color: #5080FC !important;
}

.event-edit .CustomRadio:hover input[type="radio"].state-square ~ label:before {
  background-color: #5080FC;
  color: #5080FC;
}

.event-edit .CustomRadio:hover input[type="radio"].state-circle ~ div[data-role='spare']:before {
  background-color: #5080FC;
  color: #5080FC;
}

.event-edit .CustomRadio:active {
  color: #376AFC !important;
  border-color: #376AFC !important;
}

.event-edit .CustomRadio:active input[type="radio"].state-square ~ label:before {
  background-color: #376AFC;
  color: #5080FC;
}

.event-edit .CustomRadio:active input[type="radio"].state-circle ~ div[data-role='spare']:before {
  background-color: #376AFC;
  color: #5080FC;
}

.event-edit .CustomRadio input[type="radio"] ~ label {
  font-size: 0.9rem;
}

.event-edit .CustomRadio input[type="radio"].state-circle ~ label:before {
  content: "";
}

.event-edit .CustomRadio input[type="radio"].state-square ~ label:before {
  content: "";
}

.event-edit .CustomRadio input[type="radio"].state-circle ~ div[data-role='spare']:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 0.65rem;
  left: calc(0.65em);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #888888;
  display: block;
  position: absolute;
}

.event-edit .CustomRadio input[type="radio"].state-square ~ label:before {
  background-color: #888888;
}

.event-edit .fields-selected {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 20px;
}

.event-edit .fields-selected > * {
  flex: 1 1 33%;
  justify-content: flex-start;
  margin: 5px 0px;
}

.event-edit .addList {
  margin-top: 20px;
  align-items: flex-start;
  position: relative;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.event-edit .Btn.tag {
  height: initial;
  width: 200px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.event-edit .AddList {
  flex: 1 1 100%;
  max-width: 33%;
  width: 100%;
  min-width: 250px;
  box-sizing: border-box;
  padding: 0px 10px;
  display: inline-block;
}

.event-edit .AddList div[data-role=bottom-button] button {
  border-color: #ccc !important;
  color: #999 !important;
  background-color: #fff !important;
  border: 1.8px solid;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}

.event-edit .AddList div[data-role=bottom-button]:hover button,
.event-edit .AddList div[data-role=bottom-button]:active button {
  background-color: #5E80FF !important;
  color: #FFF !important;
  border-color: #EEE !important;
}

.event-edit .AddList button > img {
  height: 1em;
  width: 1em;
}

.event-edit .AddList.Border {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 15px;
}

.event-edit .AddList ul {
  list-style-type: none;
  padding: 0px;
}

.event-edit .AddList ul li {
  display: flex;
  align-items: center;
  margin: 3px 0px;
}

.event-edit .AddList ul li input {
  width: 100%;
  font-size: 1em;
  padding: 3px 5px;
  height: 1.2em;
  flex: 1 1 100%;
}

.event-edit .AddList ul li button {
  width: 45px !important;
  height: auto;
}

.event-edit .AddList .ChildBox {
  flex-wrap: wrap;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  padding-top: 40px;
}

.event-edit .AddList .ChildBox input {
  margin-bottom: 7px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.event-edit .AddList .ChildBox > * {
  display: block;
}

.event-edit .AddList .ChildBox .right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto !important;
}

.event-edit .AddList .ChildBox .right img {
  height: 1.5em;
  width: 1.5em;
}

@media screen and (max-width: 768px) {
  .event-edit div[data-role="meta"] {
    flex-wrap: wrap;
  }
  .event-edit div[data-role="meta"] .flex-half {
    flex: 1 1 100% !important;
    padding-left: inherit;
  }
  .event-edit .AddList {
    max-width: 100%;
  }
}
