div.profile-head {
  margin-bottom: 40px;
  margin-left: 135px;
  height: 70px;
}

div.profile-head h2[alt="profile-name"] {
  padding-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
}

div.profile-head div[alt="faculty-icon"] {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /*background: #B22222;*/
  margin-top: 4px;
  margin-right: 5px;
  position: absolute;
}

div.profile-head p {
  margin-left: 25px;
  margin-top: 5px;
}

div.profile-popup {
  font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
  color: #555555;
  position: relative;
  top: -10px;
}

/*div.ppp {
    top: -10px;
    position: relative;
}*/

div.profile-popup img[alt="profile-pic"] {
  height: calc(85px);
  margin-left: 25px;
  border-radius: 50%;
  /* border: 1px solid #000; */
  display: inline-block;
  position: absolute;
}


div.profile-section {
  width: 400px;
  height: 110px;
  background-color: #F0F0F0;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}


div.profile-section h4 {
  font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  color: #A0A0A0;
}


div.my-event {
  height: 25px;
}


div.my-event p {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.9em;
  color: #FF1493;
}

div.my-event p:before {
    content: "";
    display: inline-block;

    border-radius: 50%;
    min-height: 12px;
    min-width: 12px;
    max-height: 12px;
    max-width: 12px;

    background-color: #FF1493;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

div.my-noti {
    overflow-y: scroll;
    height: 75px;
}

div.my-noti div {
  display: flex;
}


div.my-noti p {
  color: #555555;
  margin: 0 0 7px 5px;
  font-size: 0.9em;
}


div.my-noti img,
div.my-noti div.img {
  height: calc(12px);
  width: calc(12px);
  margin-left: 10px;
  margin-right: 6px;
  margin-top: 3px;
  border-radius: 50%;
  /* border: 1px solid #000; */
}


div.btn-profile {
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 13px;
  margin-bottom: 15px;
}


div.btn-profile button {
  border: 2px solid;
  border-radius: 20px;
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.1em;
}


div.btn-profile button[alt="btn-myevent"] {
  width: 185px;
  border-color: #00BFF0;
  color: #FFFFFF;
  background-color: #00BFF0;
}

div.btn-profile button[alt="btn-myevent"]:hover {
  border-color: #00CFFF;
  background-color: #00CFFF;
}

div.btn-profile button[alt="btn-logout"] {
  width: 110px;
  border-color: #FF0000;
  color: #FF0000;
  background-color: #FFFFFF;
}

div.btn-profile button[alt="btn-logout"]:hover {
  border-color: #FF5555;
  color: #FF5555;
}

div.noti p:hover {
  color: #999999;
  position: relative;
}

div.noti {
  display: flex;
  align-items: center;
}

div.noti div.Large {
  flex: 1;
}