div.search-box-containerr {
	overflow: scroll;
	position: fixed;
	top: 65px;
	left: 0px;
	box-sizing: border-box;
	padding-bottom: 40px;
	height: calc(100vh - 65px);
}

article.event-search {
	position: relative;
	padding-top: 40px;
	z-index: 551;
	margin-left: 10%;
	margin-right: 10%;
	max-width: 100vw;
	overflow-y: scroll;
	width: 100vw;
	box-sizing: border-box;
}

div.keyword {
	font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #FFF;
	display: block;
	width: 100%;
	white-space: normal;
}

div.found {
	font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
	font-size: 30px;
	color: #FFF;
	display: block;
}

div.event-found {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}
