.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong {
    font-size: 1rem;
    font-style: normal;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    line-height: 1.5rem;
    word-wrap: break-word;
}

.hack * {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

.form {
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif !important;
    margin: 20px auto;
    min-width: 400px;
    width: 30rem;
    font-style: normal;
}

.form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form .form-group textarea {
    font-size: 1em;
    min-height: 4em;
}

.form .form-group input:focus,
.form .form-group textarea:focus {
    border-color: #000;
}

.form .form-group input {
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 11px system-ui;
    font-size: 1em;
    -webkit-writing-mode: horizontal-tb;
}

.form .form-group {
    margin-bottom: 1.75rem;
    overflow: auto;
    display: flex;
}

.form .form-group label {
    border-bottom: 2px solid #ccc;
    color: #333;
    width: 10rem;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0;
    float: left;
    position: relative;
}

.form .form-group.form-success label {
    color: #4caf50!important;
    border-color: #4caf50!important;
}

.form .form-group.form-error label {
    color: #f44336!important;
    border-color: #f44336!important;
}

.form .form-group .form-control {
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: .5rem 0;
    max-width: 20rem;
    width: 100%;
    height: 38px;
    background-color: transparent;
}

.form .form-group input.form-control,
.form .form-group textarea.form-control {
    padding: 10px 5px;
}
.form .form-group input:focus.form-control,
.form .form-group textarea:focus.form-control {
    border: 1px solid rgba(0,0,0,0.05);
    border-bottom: 2px solid #000;
}

.hack hr {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    margin: 20px 0;
}

.hack hr:after {
    content: "----------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    width: 100%;
    word-wrap: break-word;
}

.hack .btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    padding: .65rem 2rem;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
}

.hack .btn-block {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

.hack .btn-primary {
    color: #fff;
    background-color: #2196f3;
    border: 1px solid #2196f3;
}
